html,
body {
  padding: 0;
  margin: 0;
  overflow: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fw-b {
  font-weight: bold;
}

.fs-i {
  font-style: italic;
}

.ff-s {
  font-family: 'IBM Plex Serif';
}
